In [1]:
print("Merhaba, TCM Security")

Merhaba, TCM Security

In [2]:
import sys
print(sys.version)

3.11.11 (main, Dec  4 2024, 08:55:07) [GCC 11.4.0]

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import os
os.chdir('/content/drive/My Drive/veri_algoritmaları/veri_algoritmaları')
!pwd

/content/drive/My Drive/veri_algoritmaları/veri_algoritmaları

In [14]:
#Math
print(40 + 40) #add

80

In [12]:
print(40 - 40) #subtract
print(40 * 40) #multiply
print(40 / 40) #divide
print(40 + 50 - 40 * 40 / 40) #PEMDAS
print(40 ** 2) #exponents
print(40 % 6) #modulo - takes what is left over
print(40 / 6) #division with decimals
print(40 // 6) #no remainder

0
1600
1.0
50.0
1600
4
6.666666666666667
6

In [11]:
# Variable assignment
x = 10
name = "Jenny"
is_true = True


# Variable usage
y = x + 4
print("Hello, " + name)
if is_true:
    print("The condition is true")

Hello, Jenny
The condition is true

In [9]:
# Built-in method example
numbers = [1, 2, 3, 4, 5]
length = len(numbers)
print("Length:", length)


# User-defined method example
def greet(name):
    print("Hello, " + name)


greet("Mary")

Length: 5
Hello, Mary

In [16]:
# Variables and methods
age = 35 #int
name = "Harry" #string
gpa = 3.7 #float

print(int(age))
print(int(35.1))
print(int(35.9)) #Will it round? No!

quote = "All is fair in love and war."
print(quote)

print(quote.upper()) #uppercase
print(quote.lower()) #lowercase
print(quote.title()) #title case
print(len(quote)) #count characters

print("My name is "+name+" and I am "+str(age)+" years old.")

age += 1
print(age)

birthday = 1
age += birthday
print(age)

35
35
35
All is fair in love and war.
ALL IS FAIR IN LOVE AND WAR.
all is fair in love and war.
All Is Fair In Love And War.
28
My name is Harry and I am 35 years old.
36
37

In [19]:
name = input("Enter your name: ")
print("Hello, " + name + "!")

Enter your name: Pathem
Hello, Pathem!

In [18]:
age = input("Enter your age: ")
age = int(age)  # Convert the input to an integer


print("You will be " + str(age + 1) + " next year.")

Enter your age: 35
You will be 36 next year.

In [21]:
def who_am_i(name,age):
  name="Pathem"
  age=30
  print(f"My name is {name} and I am {age} years old.")

def who_am_i(name,age):
  name="Pathem"
  age=30
  print(f"My name is {name} and I am {age} years old.")


who_am_i("Pathem",35)

def add_one_hundred(num)
  print(num+100)

In [22]:
def greet():
    print("Hello, World!")

In [24]:
def greet(name):
    print("Hello, " + name + "!")


greet("Moonlight")

Hello, Moonlight!

In [25]:
def add_numbers(a, b):
    return a + b


result = add_numbers(3, 4)
print(result)  # Output: 7

7

In [26]:
#Functions - Reusable block of code (like a program)

def who_am_i(name,age):
    print(f"My name is {name} and I am {age} years old")

who_am_i("Moonlight",35)

def add_one_hundred(num):
    print(num + 100)

add_one_hundred(100)

def add(x,y):
    print(x + y)

add(7,7)

def multiply(x,y):
    return x * y

result1 = multiply(7,7)
result2 = multiply(8,8)
print(result1 + result2)

def square_root(x):
    print(x ** .5)

square_root(64)

def nl(): #new line
    print('\n')

nl()

My name is Moonlight and I am 35 years old
200
14
113
8.0

Boolean Expressions and Relational Operators

In [27]:
x = 5
y = 10


# Relational operators
print(x == y)   # Output: False
print(x < y)    # Output: True


# Boolean expressions
print(x < y and y > 0)    # Output: True
print(x < y or y < 0)     # Output: True
print(not (x == y))       # Output: True

False
True
True
True
True

In [33]:
print("Boolean expressions:")

bool1 = True
bool2 = 6*6 == 36
bool3 = False
bool4 = 6*6 != 36

print(bool1,bool2,bool3,bool4)
print(type(bool1))

bool5 = "True"
print(type(bool5))

nl()

#Relational and Boolean operators
greater_than = 8 > 6
less_than = 6 < 7
greater_than_equal_to = 7 >=7
less_than_equal_to = 7 <= 7

test_and = True and True #True
test_and2 = True and False #False
test_or = True or True #True
test_or2 = True or False #True

test_not = not True #False

Boolean expressions:
True True False False
<class 'bool'>
<class 'str'>

Conditional Statements

In [34]:
x = 8
if x > 0:
    print("x is positive")
elif x < 0:
    print("x is negative")
else:
    print("x is zero")

x is positive

Loops

In [36]:
vegetables = ["domato", "patato", "onion"]
for vegetable in vegetables:
    print(vegetable)

domato
patato
onion

In [37]:
for i in range(5):
    print(i)

word = "Python"
for letter in word:
    print(letter)

# While loops - execute as long as True
i = 1

while i < 10:
    print(i)
    i += 1

0
1
2
3
4
P
y
t
h
o
n
1
2
3
4
5
6
7
8
9

Building a Basic Calculator

In [39]:
x = float(input("Give me a number: "))
o = input("Give me an operator: ")
y = float(input("Give me yet another number: "))

if o == "+":
    print(x + y)
elif o == "-":
    print(x - y)
elif o == "/":
    print(x / y)
elif o == "*":
    print(x * y)
elif o == "**" or o == "^":
    print(x ** y)
else:
    print("Unknown operator.")

Give me a number: 8
Give me an operator: *
Give me yet another number: 9
72.0

Lists

In [42]:
colors = ["pink", "blue", "green"]
print(colors[0])    # Output: "pink"
print(colors[2])    # Output: "green"

pink
green

In [43]:
colors = ["pink", "blue", "green"]
colors2 = ["grey", "black"]


combined =colors + colors2
print(combined)         # Output: ["pink", "blue", "green", "grey", "black"]


print(len(colors))      # Output: 3


sublist = colors[1:3]
print(sublist)          # Output: ["blue", "grey"]


for color in colors:
    print(color)        # Output: "pink", "blue", "green"

['pink', 'blue', 'green', 'grey', 'black']
3
['blue', 'green']
pink
blue
green

Lists - Have brackets [] - everything inside is called an **item** **kalın metin** **kalın metin**

In [46]:


movies = ["When Harry Met Sally", "The Hangover", "The Perks of Being a Wallflower", "The Exorcist"]

print(movies[1]) #return the second item in the list - index
print(movies[0]) #return the first item in the list
print(movies[1:3]) #returns the first number given until right before the last number given
print(movies[1:4]) #returns 1-3
print(movies[1:]) #return 1-end
print(movies[:1]) #everything before 1
print(movies[:2])
print(movies[-1]) #grabs last item

print(len(movies)) #count the items in the list
movies.append("JAWS") #add an item to the end of our list
print(movies)

movies.insert(2, "Hustle")
print(movies)

movies.pop() #removes the last item
print(movies)

movies.pop(0) #remove the first item
print(movies)

amber_movies = ['Just Go With It', '50 First Dates']
our_favorite_movies = movies + amber_movies #combine lists
print(our_favorite_movies)

grades = [["Bob", 82], ["Alice", 90], ["Jeff", 73]]
bobs_grade = grades[0][1]
print(bobs_grade)
grades[0][1] = 83
print(grades)

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(nested_list[1][2])

The Hangover
When Harry Met Sally
['The Hangover', 'The Perks of Being a Wallflower']
['The Hangover', 'The Perks of Being a Wallflower', 'The Exorcist']
['The Hangover', 'The Perks of Being a Wallflower', 'The Exorcist']
['When Harry Met Sally']
['When Harry Met Sally', 'The Hangover']
The Exorcist
4
['When Harry Met Sally', 'The Hangover', 'The Perks of Being a Wallflower', 'The Exorcist', 'JAWS']
['When Harry Met Sally', 'The Hangover', 'Hustle', 'The Perks of Being a Wallflower', 'The Exorcist', 'JAWS']
['When Harry Met Sally', 'The Hangover', 'Hustle', 'The Perks of Being a Wallflower', 'The Exorcist']
['The Hangover', 'Hustle', 'The Perks of Being a Wallflower', 'The Exorcist']
['The Hangover', 'Hustle', 'The Perks of Being a Wallflower', 'The Exorcist', 'Just Go With It', '50 First Dates']
82
[['Bob', 83], ['Alice', 90], ['Jeff', 73]]
6

Importing Modules

In [47]:
import math


result = math.sqrt(25)
print(result)   # Output: 5.0

5.0

In [48]:
import math as m


result = m.sqrt(25)
print(result)   # Output: 5.0

5.0

In [49]:
#IMPORTING - Importing is important.
import sys #system functions and parameters
from datetime import datetime as dt #import with alias

print(sys.version)
print(dt.now())

3.11.11 (main, Dec  4 2024, 08:55:07) [GCC 11.4.0]
2025-02-05 15:55:11.350165